*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 63%;
    overflow-x: hidden;
}
header .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;
}
header .header{
    background-color: #0f0f0f;
}
header .header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
head .header .navbar ul li{
    margin:01rem;
}
head .header .navbar ul li a{
    text-size-adjust: 18px;
    color: rgb(241, 246, 246);
}